<div class="ourcricweb-header" style="display: flex; flex-direction: column; align-items: center;">
    <h2 class="heading" style="order: 1;">Cric Info Web</h2>
    <img src="Icc.jpg" class="img-responsive" style="width: 600px; height: 100px; order: 2;" />
</div>
